<% include partials/header %>
<h1>Create a New Campgrounds</h1>

<form action="/campgrounds" method="POST">
    <!--// "/" campgrounds is the route we want to post to-->
    <input type="text" name="name" placeholder="name">
    <input type="text" name="image" placeholder="image url">
    
    <button>
        Submit!
    </button>
</form>

<a href="/campgrounds">Go Back</a>

<% include partials/footer %>